article {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.question {
  display: none;
}

.result {
  display: none
}

button {
  width: 300px;
  margin: auto;
}

#img {
  width: 300px;
  margin: 0 auto;
}